enrich {
  streams {
    in.raw = raw

    out {
      enriched = enriched
      bad = bad
      partitionKey = other
    }

    sourceSink {
      enabled = nsq
      rawChannel = enrich
      host = nsqd
      port = 4150
      lookupHost = nsqlookupd
      lookupPort = 4161
    }

    buffer {
      byteLimit = 100000
      recordLimit = 40
      timeLimit = 1000
    }

    appName = snowplow-enrich
  }
}
